<header class="header">
<div class="navigation">
<a href="{{ '/' | prepend: site.baseurl }}" class="logo">{{ site.title }}</a>
<ul class="menu">
<!--
<li class="menu__entry"><a href="{{ '/' | prepend: site.baseurl }}"">Home</a></li>
-->
<li class="menu__entry"><a href="{{ '/research' | prepend: site.baseurl }}">Research</a></li>
<li class="menu__entry"><a href="{{ '/people' | prepend: site.baseurl }}">People</a></li>
<li class="menu__entry"><a href="{{ '/publications' | prepend: site.baseurl }}">Publications</a></li>
<li class="menu__entry"><a href="{{ '/grants' | prepend: site.baseurl }}">Grants</a></li>
<li class="menu__entry"><a href="{{ '/teaching' | prepend: site.baseurl }}">Teaching</a></li>
<li class="menu__entry"><a href="{{ '/journal_club' | prepend: site.baseurl }}">Journal club</a></li>
<li class="menu__entry"><a href="{{ '/join_us' | prepend: site.baseurl }}">Join us</a></li>

<!--
</ul>
</div>
<ul class="social-links">
{% if site.author.email %}
<a href="mailto:{{ site.author.email }}" class="social-links__entry" target="_blank">
<i class="fa fa-envelope-square"></i>
</a>
{% endif %}
{% if site.author.github %}
<a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
<i class="fa fa-github"></i>
</a>
{% endif %}
{% if site.author.twitter %}
<a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
<i class="fa fa-twitter"></i>
</a>
{% endif %}

<a href="https://scholar.google.com.au/citations?user=ka3U7xcAAAAJ&hl=en" class="social-links__entry" target="_blank"> <i class="fa fa-google"></i></a>

-->

</ul>
</header>
